*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background: url("bg_dotted.png"), #efefefef;
    /* background: url("bg_dotted.png"), #eef0f3; */
    /* background-blend-mode: multiply; */
    font-family: 'Inter', sans-serif;
}
a{
  color: #60666e;
  text-decoration: none;
}
a:hover{
  color: #6d8aa5;
  outline: 1px solid #8c98a3;
}
.card{
margin: auto;
/* max-width: 40rem; */
border: transparent;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(118, 136, 154, 0.16);
}
.gradient-text {
    background: linear-gradient(to top, #000, #46a1fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    text-decoration: none;

  }

.row{
  align-items: stretch !important;
}
.card-text{
  text-align: center;
}
.card-text p{
  font-size: 1rem;
}
.card-text h2{
  font-size: 1.5rem;
}

.card:hover{
  box-shadow: 0 4px 40px rgba(4, 59, 78, 0.16);
}
.lead{
  margin-top: -10px;
  text-decoration: wavy;
}
.text-right{
  /* text-align: right; */
}
.handle{
  font-size: 0.9rem;
  font-weight: 600;
  color: #04315e;
}
.footer{
  font-size: 0.7rem;
  text-align: right;
  margin-right: 15px;
}
 @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-heading {
    animation: slideIn 1s ease-out forwards;
  }

  .animate-paragraph {
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 0.5s; /* Delays the paragraph animation */
  }

  @media screen and (max-width: 768px) {
    .card {
      max-width: 90%;
    }
  .gradient-text{
    font-size: 2.5rem;
  }
  .lead{
    font-size: 0.9rem;  
  }
.footer{
  text-align: center;
}

  }